<h1>about page of the alpha-blog</h1>
<p>we should practise more apps for efficient learning, and be very careful at symbols or signs in the syntax of the programme.and don't get hesitate to start the studies or any other practising programming</p>

<%= link_to 'Home', root_path %>