<h1>ALPHA-BLOG</h1>
<p>Practise app  without seeing the playlist of the udemycourse, and it is very catchy terminology to the ruby on rails.so, we should complete it as early as possible</p>

<%= link_to 'About', about_path %>